
<div class="main">
  <p>We teach all Courses related to AI</p>

<button (click)="getDataFromApi()">search</button>

<table *ngIf="universityList.length > 0">
  <thead>
    <tr>
      <th>Uni Name</th>
      <th>Country</th>
      <th>Country Code</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let university of universityList">
      <td>{{university.name}}</td>
      <td>{{university.country}}</td>
      <td>{{university.alpha_two_code}}</td>
    </tr>

  </tbody>
</table>
<p>I am under the table</p>
</div>
