/* You can add global styles to this file, and also import other style files */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

tr:nth-child(2n) {
  background-color: #daeef4;
}

thead tr {
  background-color: darkcyan;
  color: white;
}

tr a,
tr svg {
  color: darkblue;
}

.main {
  width: 60%;
  margin: 0 auto;
}